<%- include("partials/header.ejs") %>
<main>
  <div class="blog-main-container">
    <h3>Write your own Blog</h3>
    <form action="/add" method="POST" class="text-form">
      <input class="form-control" name="blogTitle" type="text" placeholder="Enter Title" required />
      <br />
      <textarea class="form-control" id="FormControlTextarea1" name="blogText" placeholder="Write your blog..." required
        rows="3"></textarea>
      <br />
      <input class="btn btn-dark" type="submit" />
    </form>

    <!-- Blog List -->

    <ul>
      <% blogTitleArr.forEach((blogTitle,index)=> { %>

        <li>
          <div class="blog-container d-flex flex-column">
            <div class="d-flex justify-content-end align-items-center">
              <!-- Delete -->
               <form action="/delete/<%= index %>" method="POST" id="delete-form">
                 <button class="btn  delete-btn " type="submit">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                   viewBox="0 0 16 16">
                   <path
                   d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                   <path
                   d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                  </svg>
                </button>
              </form>
              <!-- delete btn end -->

              <!-- edit btn -->
              <button class="btn edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#editModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
              </button>
              <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Edit your Blog
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Edit input blog -->
                    <div class="modal-body">
                      <!-- Update -->
                      <form action="/update/<%= index %>" method="POST" 
                        > 
                        <input class="form-control " type="text" name="updatedTitle" id="editTitled" placeholder="Title">
                        <textarea class="form-control " id="FormControlTextarea1" name="updatedText"
                          placeholder="Write Blog" rows="3"></textarea>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                      </button>
                      <!-- save change/update -->
                      <button type="submit" class="btn bg-dark text-white" data-bs-dismiss="modal">
                        Save changes
                      </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Here Changes needed -->
            <h3 class="text-wrap">
              <%= blogTitle %>
            </h3>
            <p class="text-justify text-wrap">
              <%= blogTextArr[index] %>
            </p>
            <div class="blogDateContainer text-muted">
              <p><small id="postNumber"> # <%= index+1 %> </small></p>
              <p>
                <small>
                  <%= new Date().getDate()%>/<%= new Date().getMonth()+1 %>/<%= new Date().getFullYear() %>
                </small>
              </p>
            </div>
          </div>
        </li>
        <% }) %>
    </ul>

  </div>
</main>
  <%- include("partials/footer.ejs") %>